@page "/gameFeaver"

<h1>Game Feaver</h1>


<table>
    <tr>
        <td>
            <button class=@currentStyle[0,0] @onclick="args => ChangeMe(0,0)">XXX</button>
        </td>
        <td>
            <button class=@currentStyle[0,1] @onclick="args => ChangeMe(0,1)">XXX</button>
        </td>
        <td>
            <button class=@currentStyle[0,2] @onclick="args => ChangeMe(0,2)">XXX</button>
        </td>
        <td>
            <button class=@currentStyle[0,3] @onclick="args => ChangeMe(0,3)">XXX</button>
        </td>
        <td>
            <button class=@currentStyle[0,4] @onclick="args => ChangeMe(0,4)">XXX</button>
        </td>
    </tr>
    <tr>
        <td>
            <button class=@currentStyle[1,0] @onclick="args => ChangeMe(1,0)">XXX</button>
        </td>
        <td>
            <button class=@currentStyle[1,1] @onclick="args => ChangeMe(1,1)">XXX</button>
        </td>
        <td>
            <button class=@currentStyle[1,2] @onclick="args => ChangeMe(1,2)">XXX</button>
        </td>
        <td>
            <button class=@currentStyle[1,3] @onclick="args => ChangeMe(1,3)">XXX</button>
        </td>
        <td>
            <button class=@currentStyle[1,4] @onclick="args => ChangeMe(1,4)">XXX</button>
        </td>
    </tr>
    <tr>
        <td>
            <button class=@currentStyle[2,0] @onclick="args => ChangeMe(2,0)">XXX</button>
        </td>
        <td>
            <button class=@currentStyle[2,1] @onclick="args => ChangeMe(2,1)">XXX</button>
        </td>
        <td>
            <button class=@currentStyle[2,2] @onclick="args => ChangeMe(2,2)">XXX</button>
        </td>
        <td>
            <button class=@currentStyle[2,3] @onclick="args => ChangeMe(2,3)">XXX</button>
        </td>
        <td>
            <button class=@currentStyle[2,4] @onclick="args => ChangeMe(2,4)">XXX</button>
        </td>
    </tr>
    <tr>
        <td>
            <button class=@currentStyle[3,0] @onclick="args => ChangeMe(3,0)">XXX</button>
        </td>
        <td>
            <button class=@currentStyle[3,1] @onclick="args => ChangeMe(3,1)">XXX</button>
        </td>
        <td>
            <button class=@currentStyle[3,2] @onclick="args => ChangeMe(3,2)">XXX</button>
        </td>
        <td>
            <button class=@currentStyle[3,3] @onclick="args => ChangeMe(3,3)">XXX</button>
        </td>
        <td>
            <button class=@currentStyle[3,4] @onclick="args => ChangeMe(3,4)">XXX</button>
        </td>
    </tr>
    <tr>
        <td>
            <button class=@currentStyle[4,0] @onclick="args => ChangeMe(4,0)">XXX</button>
        </td>
        <td>
            <button class=@currentStyle[4,1] @onclick="args => ChangeMe(4,1)">XXX</button>
        </td>
        <td>
            <button class=@currentStyle[4,2] @onclick="args => ChangeMe(4,2)">XXX</button>
        </td>
        <td>
            <button class=@currentStyle[4,3] @onclick="args => ChangeMe(4,3)">XXX</button>
        </td>
        <td>
            <button class=@currentStyle[4,4] @onclick="args => ChangeMe(4,4)">XXX</button>
        </td>
    </tr>
</table>
<br />
<p>
    <button class="btn btn-primary" @onclick="args => ResetGame()">Reset Game</button>
</p>
<p role="status">Number of changes: @clickCount</p>

@code {
    private int clickCount = 0;

    string[,] currentStyle = new string[5,5]; 

    private void InitializeCurrentStyle()
    {
        for (int i = 0; i < 5; i++)
            for (int j = 0; j < 5; j++)
                currentStyle[i, j] = "btn btn-success";
    }

    protected override async Task OnInitializedAsync()
    {
        InitializeCurrentStyle();
    }

    private string SwitchStyle(string style)
    {
        if (style == "btn btn-success")
            return "btn btn-danger";
        if (style == "btn btn-danger")
            return "btn btn-success";
        return "btn btn-primary";
    }

    private void ResetGame()
    {
        InitializeCurrentStyle();
        clickCount = 0;
    }

    private void ChangeMe(int i, int j)
    {
        currentStyle[i, j] = SwitchStyle(currentStyle[i, j]);
        if( i - 1 >= 0)
            currentStyle[i - 1, j] = SwitchStyle(currentStyle[i - 1, j]);
        if (i + 1 <= 4)
            currentStyle[i + 1, j] = SwitchStyle(currentStyle[i + 1, j]);
        if (j - 1 >= 0)
            currentStyle[i, j - 1] = SwitchStyle(currentStyle[i, j - 1]);
        if (j + 1 <= 4)
            currentStyle[i, j + 1] = SwitchStyle(currentStyle[i, j + 1]);
        clickCount++;
    }

}
